---
layout: base
---

{% include header.html type="page" %}

<div class="container-md" role="main">
  <div class="row">
    <div class="intro-header col-sm" style="margin:1rem 0 0.75rem;">
      <div class="page-heading">
        <h1 style="font-size:4rem">Boston's Best Party Band</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm mt-4 mx-4 mx-sm-0">
      <div class="card">
        <img src="assets/img/cmb_wedding.jpg" class="card-img-top" style="filter:brightness(90%)" alt="Weddings">
        <div class="card-body">
          <h5 class="card-title">Weddings</h5>
          <p class="card-text">We're a 5-star reviewed wedding band that prides ourselves on making sure every detail of your day is perfect. Check out our <a href="#reviews">reviews</a>!</p>
        </div>
      </div>
    </div>

    <div class="col-sm mt-4 mx-4 mx-sm-0">
      <div class="card">
        <img src="assets/img/briar_crowd.jpg" class="card-img-top" style="filter:brightness(85%)" alt="Bar Gigs">
        <div class="card-body">
          <h5 class="card-title">Bar Gigs</h5>
          <p class="card-text">CMB has been rocking Ned Devine's, The Harp, Hurricane's, Lansdowne Pub, and more for over 10 years. Check us out at an upcoming <a href="#shows">show</a>!</p>
        </div>
      </div>
    </div>

    <div class="col-sm mt-4 mx-4 mx-sm-0">
      <div class="card">
        <img src="assets/img/cmb_setup.jpg" class="card-img-top" style="filter:brightness(90%)" alt="Parties and Events">
        <div class="card-body">
          <h5 class="card-title">Parties and Events</h5>
          <p class="card-text">Whether it's a private party or corporate event, we've done it all. If you want to get a crowd going, we're your band. <a href="#booking">Book</a> CMB today!</p>
        </div>
      </div>
    </div>

    <!-- <div class="col-sm mt-4 mx-4 mx-sm-0"> -->
    <!--   <div class="card"> -->
    <!--     <img src="assets/img/cmb_events.jpg" class="card-img-top" style="filter:brightness(90%)" alt="Professional Sound"> -->
    <!--     <div class="card-body"> -->
    <!--       <h5 class="card-title">Professional Sound</h5> -->
    <!--       <p class="card-text">CMB has a professional QSC PA, wireless mics, and stage lighting. We've got all aspects of your event covered, from speeches to dinner music.</p> -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->

  </div>

</div>

<div class="container-md">
  <a name="reviews"></a>
  <div class="row">
    <div class="intro-header col-sm" style="margin:2.5rem 0 1rem;">
      <div class="page-heading">
        <h1>Reviews</h1>
        <hr class="small">

        <div class="card">
          <div class="card-body">
            <span class="intro-header page-heading page-subheading">Don't take our word for it, check out reviews from our amazing fans!</span>
            <br>
           <blockquote class="blockquote text-center">
             <p class="font-italic mb-0">"Cover Me Badd was the best choice we could have made for a wedding band and MC. They were so attentive and helpful throughout the entire planning process, and they were the highlight of the night. All of our guests were dancing for the entire set. They were so fun, such great performers, and all around amazing musicians! Best wedding band ever!"</p>
             <p>- Katrina M</p>
           </blockquote>
           <blockquote class="blockquote text-center">
             <p class="font-italic mb-0">"CMB was phenomenal at our reception! They were professional, accommodating and thorough in the months leading up to our wedding day, and put together an incredible playlist for our guests, with an awesome mix of oldies, classics from 80's and 90's, and newer hits - something for everyone. Above all, they're just FUN...I had family members send their kids home with relatives just so they could stay and dance."</p>
             <p>-John G</p>
           </blockquote>
          </div>

         <div>
           <span class="intro-header page-heading page-subheading mt-0 mb-3">We're proud to be a 5-star reviewed band!</span>
         </div>

        <div class="row">
           <div class="col-md-2"></div>
           <div class="col-md-4" style="margin:1rem 0 1rem;">
               <div class="card" style="border:none">
                 <a target="_blank" href="https://www.theknot.com/marketplace/cover-me-badd-boston-ma-491210"><img src="assets/img/the_knot.png" class="card-img-top" alt="The Knot"></a>
               </div>
           </div>
           <div class="col-md-4" style="margin:1rem 0 1rem;">
               <div class="card" style="border:none">
                 <a target="_blank" href="https://www.weddingwire.com/reviews/cover-me-badd-woburn/6857906102a3eee7.html"><img src="assets/img/wedding_wire_transparent.png" class="card-img-top" alt="Wedding Wire"></a>
               </div>
             </div>
           <div class="col-md-2"></div>
         </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-md">
  <a name="shows"></a>
  <div class="row">
    <div class="intro-header col-sm" style="margin:1.5rem 0 1.25rem;">
      <div class="page-heading">
        <h1>Shows</h1>
        <hr class="small">
        <span class="mt-5" style="font-size:1.35rem">Note: all shows have been postponed due to COVID-19. Look for updates on social media!</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="offset-sm-2 col-sm-8">
      <!-- Can we make this feed from another file or set of files? -->
      <div class="list-group">
        <a class="list-group-item list-group-item-action flex-column align-items-center">
          <div class="d-flex w-100 justify-content-between">
            <span class="mb-1">Ned Devine's - Boston, MA</span>
            <span>June 6, 2020</span>
         </div>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-center">
          <div class="d-flex w-100 justify-content-between">
            <span class="mb-1">Wedding - Boston, MA</span>
            <span>June 26, 2020</span>
          </div>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-center">
          <div class="d-flex w-100 justify-content-between">
            <span class="mb-1">Private Party - Cape Cod, MA</span>
            <span>July 18, 2020</span>
          </div>
          <p class="mb-1 mt-1"></p>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-center">
          <div class="d-flex w-100 justify-content-between">
            <span class="mb-1">Wedding - Boston, MA</span>
            <span>August 8, 2020</span>
          </div>
          <p class="mb-1 mt-1"></p>
        </a>
        <a class="list-group-item list-group-item-action flex-column align-items-center">
          <div class="d-flex w-100 justify-content-between">
            <span class="mb-1">The Harp - Boston, MA</span>
            <span>August 29, 2020</span>
         </div>
        </a>
      </div>  
    </div>
  </div>
</div>


<div class="container-md">
  <a name="booking"></a>
  <div class="row">
    <div class="intro-header col-sm" style="margin:3rem 0 1.25rem;">
      <div class="page-heading">
        <h1>Booking</h1>
        <hr class="small">

        <div class="card">
          <div class="card-body mt-3">
            <div>
              <span class="intro-header page-heading page-subheading font-weight-bold mb-4">You'll get:</span>
            </div>
            <p class="intro-header page-heading page-subheading mb-2" style="font-size:1.5rem">Boston's best party band</p>
            <p class="intro-header page-heading page-subheading my-2" style="font-size:1.5rem">Full MC services</p>
            <p class="intro-header page-heading page-subheading my-2" style="font-size:1.5rem">Professional sound</p>
            <p class="intro-header page-heading page-subheading my-2" style="font-size:1.5rem">Wireless mics for events</p>
            <p class="intro-header page-heading page-subheading my-2" style="font-size:1.5rem">Stage lighting</p>
            <p class="intro-header page-heading page-subheading my-2" style="font-size:1.5rem">No overtime charges</p>
            <p class="intro-header page-heading page-subheading my-2" style="font-size:1.5rem">A great price!</p>

            <div class="mt-5">
              <span class="intro-header page-heading page-subheading font-weight-bold">Our schedule fills up fast. Contact us today!</span>
            </div>

            <ul class="list-inline text-center footer-links mt-5">
            {%- if site.social-network-links.email -%}
              <li class="list-inline-item mx-4">
                <a href="mailto:{{ site.social-network-links.email }}" title="Email us">
                  <span class="fa-stack fa-lg" aria-hidden="true" style="font-size:2.5em">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="sr-only">Email me</span>
               </a>
              </li>
            {%- endif -%}

            {%- if site.social-network-links.facebook -%}
              <li class="list-inline-item mx-4">
                <a target="_blank" href="https://www.facebook.com/{{ site.social-network-links.facebook }}" title="Facebook">
                  <span class="fa-stack fa-lg" aria-hidden="true" style="font-size:2.5em">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="sr-only">Facebook</span>
               </a>
              </li>
            {%- endif -%}

            {%- if site.social-network-links.instagram -%}
              <li class="list-inline-item mx-4">
                <a target="_blank" href="https://www.instagram.com/{{ site.social-network-links.instagram }}" title="Instagram">
                  <span class="fa-stack fa-lg" aria-hidden="true" style="font-size:2.5em">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                  <span class="sr-only">Instagram</span>
               </a>
              </li>
            {%- endif -%}
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container-md">
  <a name="videos"></a>
  <div class="row">
    <div class="intro-header col-sm" style="margin:1rem 0 1.25rem;">
      <div class="page-heading">
        <h1>Videos</h1>
        <hr class="small">
            <div>
              <span class="intro-header page-heading page-subheading mt-5 mb-5">Here's a sneak peak at some recent gigs...</span>
            </div>

            <script async defer src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.2"></script>

            <div class="row">
              <div class="col-md-6 mt-3 mt-md-0">
                <div class="fb-video"
                    data-href="https://www.facebook.com/watch/?v=696700407436732"
                    data-width="auto"
                    data-height="325px"
                    data-show-captions="false">
                </div>
              </div>

              <div class="col-md-6 mt-3 mt-md-0">
                <div class="fb-video"
                    data-href="https://www.facebook.com/CoverMeBaddBoston/videos/549397668902885/"
                    data-width="auto"
                    data-height="325px"
                    data-show-captions="false">
                </div>
              </div>
            </div>

            <div class="row">
              <div class=" video-container col-md-6 mt-3 mt-md-0">
                <iframe class="video" src="https://www.youtube.com/embed/CqZZNnmgwRM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>

              <div class=" video-container col-md-6 mt-3 mt-md-0">
                <iframe class="video" src="https://www.youtube.com/embed/clc3OPVe4A4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>

            </div>
  
      </div>
    </div>
  </div>
</div>
