---
layout: base
---

{% include header.html type="page" %}

<div class="container-md" role="main">
  <div class="row">
    <div class="intro-header col-sm d-block d-sm-none" style="margin:2rem 0 0.75rem;">
      <div class="page-heading">
        <h1 style="font-size: 3rem">Services</h1>
        <hr class="small">
    </div>
  </div>

  <div class="row">
    <div class="col-sm mt-4 mx-4 mx-sm-0">
      <div class="card">
        <img src="assets/img/construction.jpg" class="card-img-top" alt="Construction">
        <div class="card-body">
          <h5 class="card-title">Construction</h5>
          <p class="card-text">We offer complete landscape construction and excavation services for projects of any size.</p>
        </div>
      </div>
    </div>

    <div class="col-sm mt-4 mx-4 mx-sm-0">
      <div class="card">
        <img src="assets/img/yard_maintenance.jpg" class="card-img-top" alt="Yard Maintenance">
        <div class="card-body">
          <h5 class="card-title">Yard Maintenance</h5>
          <p class="card-text">Whether it's mowing, mulching, or clean up, we pride in making yards beautiful year round.</p>
        </div>
      </div>
    </div>

    <div class="col-sm mt-4 mx-4 mx-sm-0">
      <div class="card">
        <img src="assets/img/masonry.jpg" class="card-img-top" alt="Masonry">
        <div class="card-body">
          <h5 class="card-title">Masonry</h5>
          <p class="card-text">We have extensive experience in everything from stone accents to brick walk-ways.</p>
        </div>
      </div>
    </div>

    <div class="col-sm mt-4 mx-4 mx-sm-0">
      <div class="card">
        <img src="assets/img/snow_removal.jpg" class="card-img-top" alt="Snow Removal">
        <div class="card-body">
          <h5 class="card-title">Snow Removal</h5>
          <p class="card-text">Reliable and on time. Our plows clear the way to keep your business or home accessible.</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-md">
  <div class="row">
    <div class="intro-header col-sm" style="margin:4rem 0 1.25rem;">
      <div class="page-heading">
        <a name="about"></a>
        <h1>About Us</h1>
        <hr class="small">

        <div class="card">
          <div class="card-body">
            <p class="card-text" style="text-align: left;">Matarese Landscape Construction is a family owned and operated business based out of Cranston, Rhode Island. We take pride in our timely, detailed, and complete customer service that has kept us a Rhode Island favorite for more than 30 years. We have extensive experience in all aspects of landscape construction and can manage projects of any size. Let us help bring your landscaping vision to life.</p>
            <p class="card-text">We are a proud winner of the <a href="https://www.rimonthly.com/2017-design-awards/2/">RI Monthly Residential Renovation Gold Medal</a>.</p>
          </div>
        </div>

    </div>
  </div>
</div>

<div class="container-md">
  <div class="row">
    <div class="intro-header col-sm" style="margin:4rem 0 1.25rem;">
      <div class="page-heading">
        <a name="getaquote"></a>
        <h1>Get a Free Quote</h1>
        <hr class="small">
        <br>

        <div class="card">
          <div class="card-body">
            <span class="intro-header page-heading page-subheading">Contact us by phone or email for a free quote.</span>
            <span class="intro-header page-heading page-subheading">Ask for Tony!</span>
            <br>
            <span class="intro-header page-heading page-subheading">Call: <a href="tel:1-401-944-9334">401-944-9334</a></span>
            <span class="intro-header page-heading page-subheading d-none d-sm-block">Email: <a href="mailto:matareselandscaping@gmail.com" title="Email">matarese.landscaping@gmail.com</a></span>
            <span class="intro-header page-heading page-subheading d-block d-sm-none"><a href="mailto:matareselandscaping@gmail.com" title="Email">Click to Email</a></span>
         </div>
        </div>

      </div>
    </div>
  </div>
</div>
